#foodplans-template {

    .food-list-panel {

        .food-list-panel-header {
            .flex-display(flex);

            h3 {
                .flex(1 1 auto);
                .text-overflow();
            }

            button {
                .flex(0 0 auto);
            }
        }

        .food {
            margin-bottom: 5px;
            .food-row {
                .flex-display(flex);

                .food-label {
                    .flex(1 1 auto);
                    .text-overflow();

                    line-height: 30px;

                    text-transform: capitalize;
                }

                .food-price {
                    .flex(0 0 auto);
                }

                .food-actions {
                    .flex(0 0 auto);
                    display: none;
                }

                &:hover {
                    .food-price {
                        display: none;
                    }

                    .food-actions {
                        display: inline-block;
                    }
                }
            }

            .food-row.food-info {
                font-size: 12px;
            }
        }
    }

    .foodplan-edit {

        .plan-info {
            em {
                padding-right: 5px;
                font-weight: bold;
            }

            margin-bottom: 20px;
        }

        .plan-day {

            padding: 15px 0;

            border-top: 1px solid #CCC;

            .plan-day-header {
                .flex-display(flex);

                input {
                    .flex(0 0 auto);
                    width: 150px;
                }

                .plan-day-header-actions {
                    .flex(1 0 auto);
                    text-align: right;
                }
            }

            .plan-day-meal-container {
                .flex-display(flex);
                .flex-direction(row);
                .justify-content(space-between);

                padding: 10px 0;
                margin-top: 5px;
                margin-bottom: 0;
            }
        }

        .plan-day-meal {
            .flex(0 1 auto);

            width: 360px;
            padding: 0 10px;

            .meal-header {
                .meal-header-item {
                    .flex-display(flex);
                    margin-bottom: 5px;

                    select {
                        .flex(1 1 auto);
                    }

                    .meal-header-actions {
                        .flex(0 0 auto);
                        text-align: right;
                        margin-left: 20px;
                    }

                    .meal-name {
                        .flex(1 1 auto);
                    }

                    .gutter {
                        .flex(1 1 auto);
                        min-width: 50px;
                    }

                    .input-group {
                        .flex(0 0 auto);
                        width: 80px;
                    }
                }

            }

            table {
                font-size: 12px;

                .food-name {
                    text-transform: capitalize;
                }

                .quantity {
                    input {
                        width: 70px;
                    }
                }


            }
        }

        .plan-actions {

            padding-top: 15px;
            border-top: 1px solid #AAA;
        }
    }

    .others {
        .name {
            text-transform: capitalize;
            font-weight: bold;
        }

        .quantity {
            padding-left: 20px;
        }

        .cost {
            padding-left: 40px;
        }
    }

    .full-cost-for-plan {
        .full-cost {
            border-top: 1px solid #666;
        }

        td:nth-of-type(1) {
            padding-right: 20px;
        }
    }

    .food-edit-form {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    @media print {
    .plan-day {
        .meal-container {
            .flex-display(flex);
            .flex-direction(row);
            .flex-wrap(wrap);
        }
    }
    .meal {

        table {
            thead th:nth-of-type(2),
            tr.food-item .quantity {
                display: none !important;
            }




            }
        }

        .plan-day,
        .others {
            page-break-after: always;
        }
    }
}
